body {
    padding-top: 70px;
}

.logo {
    color: #CE422B !important;
    font-size: 30px;
}

.page-header {
    color: #CE422B !important;
}

.wrapper-content {
    min-height: 600px;
}

.lost-link a {
    padding-left: 15px;
}

.action-link {
    margin-right: 10px;
}

.select2-input {
    min-width: 262px !important;
}