body {
    padding-top: 70px;
	background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo {
    /*color: #CE422B !important;*/
    color: white !important;
    font-size: 30px;
}

.page-header {
    /*color: #CE422B !important;*/
	color: white !important;
}

.breadcrumb li.active {
    color: #CE422B !important;
}

.wrapper-content {
    min-height: 600px;
    background-color: rgba(28, 30, 34, 0.85);
    padding: 15px;
}

.footer {
    margin-top: 15px;
}
.footer .container {
    background-color: rgba(28, 30, 34, 0.85);
    min-height: 50px;
    padding: 10px;
}

.lost-link a {
    padding-left: 15px;
}

.action-link {
    margin-right: 10px;
}

.select2-input {
    min-width: 262px !important;
}

/**
 * CLANS
 */
table.clans {
    margin-top: 10px;
}
table.clans .glyphicon {
    font-size: 25px !important;
}
table.clans td.actions {
    width: 130px;
}
table.clans td.actions a {
    margin-right: 10px;
}
tr.my_clan td {
    background-color: #48692A !important;
}
tr.require-line {
    display: none;
}
table.require-line .glyphicon {
    font-size: 25px !important;
}
table.require-line a {
    margin-right: 10px;
}
table.require-line td.actions {
    width: 130px;
}
table.require-line td.member {
    width: 140px;
}


/**
 * USERS
 */
tr.user-header {
    cursor: pointer;
}
tr.user-details {
    display: none;
}


@media (max-width:990px) {
    .logo {
        font-size: 19px;
    }
}